{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Beam and Column Calculator</h1>
    {% comment %}
    <form>
        {% csrf_token %}
        <select class="form-select w-50 text-center" aria-label="Wood Type Selection">
            {% for w_t in form.wood_type %}
                {{w_t}}
            {% endfor %}
        </select>
    </form>
    {% endcomment %}
    {# {% comment %} #}
    <form class="form-vertical" method="post" action="{% url 'home' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Save</button>
    </form>
    {# {% endcomment %} #}
{% endblock %}
